body {
	background-image: linear-gradient(
		to left top,
		#7300ff,
		#006bff,
		#008bff,
		#009dd9,
		#00a9b3,
		#00a5a2,
		#00a18d,
		#009c77,
		#008b70,
		#007968,
		#00695e,
		#005853
	);
}

.container {
	width: 100%;
	max-width: 1130px;
	padding: 0 25px;
	margin: 0 auto;
}
